body{
    background-repeat: no-repeat;
    background-size: cover;
    transition: background-image 1s ease-in-out;
    background-position: center;
    background-attachment: fixed;
}

.input-container{
    width: 100px;
    height: 100px;
}

.clockdate-wrapper{
    border-radius: 5px;
    border-color: black;
    background-color: white;
}